:root {
    font-family: 'Roboto', sans-serif;;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
}

ul {
    list-style-type: none;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
}

.sidebar {
    background-color: brown;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto auto 10fr;
    row-gap: 70px;
    padding: 20px;
}

.sidebar h1 {
    margin: 0;
    font-size: 30px;
}

.sidebar ul {
    font-size: 24px;
    font-weight: bold;
    display: grid;
    row-gap: 16px;
}

.main-content {
    background-color: gray;
    padding: 32px 32px 56px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 32px;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.main-content > div {
    display: flex;
    flex-direction: column;
}

.main-content > div > h2 {
    margin-bottom: 8px;
}

.main-content > div > div {
    flex: 1 1 auto;
}

.your-projects {
    grid-row: 1 / 3;
}

.projects {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 16px;
}

.projects > div {
    background-color: white;
    border-left: 12px solid orange;
    border-radius: 12px;
    padding: 16px;
}

.announcements > div{
    padding: 18px;
}

.announcements > div, .trending > div {
    background-color: white;
    border-radius: 12px;
}

.announcements h3 {
    margin-bottom: 4px;
}

.announcements p {
    font-size: 14px;
    color: gray;
}

.announcements ul {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcements ul > li {
    padding: 6px 0;
}

.announcements ul > li + li {
    border-top: 1px solid gray;
}

.trending ul {
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trending ul > li {
    display: flex;
    align-items: center;
}